.vscode
__pycache__
dist
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
ui/build
.svelte-kit
*.txt
*geojson
data
!ui/src/stores/Data
kk
labels.json
*.xml
.ipynb_checkpoints
!ui/src/lib/actions/geojson
ui/coverage/*
ui/test-results/
ui/playwright-report/
ui/playwright/.cache/
!test-data/*
!scaneo/ui/**
ui/mkdocs/site/**/*
kk*
uv.lock
.venv
inference/models
inference/samples
*.onnx
eotdl